@tailwind base;
@tailwind components;

html, body{
    background-color: #ffffff;
}

.top-nav{
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 5.93rem;
    padding-right: 5.93rem;

}
.speakUp{
    display: inline-flex;
    img{
        height: 3.1rem;
        padding-top: 8%;
    }
    h2{
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 700;
    text-align: justify;
    }
}

button{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    border: 0;
    border-radius: 5.625rem;
    color: #FFFFFF;
    background-color: #537BE1;
    cursor: pointer;
    width: 11.18rem;
    height: 4.37rem;
    float: right;
    font-size: 1.12rem;
    padding: 0.62rem;
}

a{
    cursor: pointer;
    font-family: 'Inter';
    font-size: 1.12rem;
    font-weight: 700;
    line-height: 1.37rem;
    letter-spacing: 0rem;
}

.contact{
    /* margin-top: 11.25rem; */
    padding-top: 3rem;
    padding-left: 5.9375rem;
    padding-right: 5.9375rem;

    p {
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    padding-left: 5rem;
    color: #232323;
    }
}
.mid-section{
    padding: 3.125rem;
    display: flex;
    justify-content: left;
}
.frame1{
    width: 25.4375rem;
    height: 28rem;
    background-color: #cdcbcb;
    margin-inline: 0.5%;

    h2{
        font-family: 'Inter';
        font-size: 1.5rem;
        font-weight: 700;
        color: #232323;
        text-align: justify;
        top: 15.625rem;

    }
    p{
        font-family: 'Inter';
        font-size: 1.25rem;
        font-weight: 400;
        color: #232323;
        text-align: center;
    }
    button{
        font-family: 'Inter';
        background-color: #537BE1;
        width: 18rem;
        height: 4.375rem;
        padding: 0.625rem;
        border-radius: 5.625rem;
    }
}
.frame2{
    width: 25.25rem;
    height: 28rem;
    background-color: #cdcbcb;
    margin-inline: 0.5%;
    ul{
        display: inline-table;
    }
    p{
        font-family: 'Inter';
        font-size: 1.25rem;
        font-weight: 400;
        color: #232323;
        text-align: center;
    }
    img{
        width: 25.25rem;
        height: 13.3125rem

    };
}

.frame3{
    background-color: #cdcbcb;
    width: 25.0625rem;
    height: 28rem;
    margin-inline: 0.5%;
    p{
        font-family: 'Inter';
        font-size: 1.25rem;
        font-weight: 400;
        color: #232323;
        text-align: center;
    }
}

.footer{
    background-color: #022253;
    width: 90rem;
    height: 40.6875rem;
    margin-top: 6.4375rem;
    margin-left: 0.125rem;
    color:#ffffff;
    padding-top: 5.6875rem;
    padding-left: 5.9375rem;
}


a{
    cursor: pointer;
    font-family: 'Inter';
    font-size: 1.125rem;
    font-weight: 700;
}

a:hover{
    color: #537BE1;
}
.reporting img{
    width: 100%;
    height: 38.25rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

p{
    padding-left: 5.18rem;
    padding-top: 2rem;
    padding-right: 5.18rem;

    font-family: 'Inter';
    font-size: 1.45rem;
    font-weight: 400;
    letter-spacing: 0rem;
    text-align: left;
    justify-content: left;
    color: #232323;
}

.support{
    margin: 5.18rem;
    padding-top: 5rem;
    background-color: #e3e0e080;
    h1{
        margin-top: 1rem;
        font-family: 'Inter';
        font-size: 2.8125rem;
        font-weight: 700;
    }
    p{
        padding-left: 1rem;
        padding-right: 0rem;
        /* justify-content: left; */
    }
    img{
        color: #CDCBCB;
        height: 40.65rem;
        width: 100%;
        border-radius: 1.875rem, 1.875rem, 0px, 0px;
    }
}
.helplines{
    padding-top: 5rem;
    margin: 5.18rem;
    img{
        width: 100%;
        height: 35rem;
    }
    p{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    h1{
        margin-top: 1rem;
        font-family: 'Inter';
        font-size: 2.8125rem;
        font-weight: 700;
    }
    ul{
        font-family: 'Inter';
        font-size: 1.65rem;
        padding-top: 0.5rem;

    }
}

.footer{
    background-color: #022253;
    width: 90rem;
    height: 40.6875rem;
    margin-top: 6.4375rem;
    margin-left: 0.125rem;
    color:#ffffff;
    padding-top: 5.6875rem;
    padding-left: 5.9375rem;
}


@tailwind utilities;